body {
    font-family: Arial, sans-serif;
    background-color: #0f0f42;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.profile {
    display: inline-block;
    width: 90%;
    margin: 10px;
    background-color: #e3e3e3;
    padding: 10px;
/*    box-shadow: 0 0 5px rgba(0,0,0,0.1);*/
}

.profile img {
    width: 30%;
    height: auto;
    border-radius: 30%;
    float:left;
}

.profile h2 {
    margin: 10px 0;
}

.profile p {
    font-size: 14px;
    color: #555;
    float: left;
    margin-left: 5%;
    width: 60%;
}
