body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #003366;
    color: white;
    padding: 10px 0;
}

nav {
    display: inline-block;
    float: right;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px 0;
}

section {
    margin-bottom: 40px;
}

h1, h2 {
    color: #003366;
}

footer {
    background: #003366;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.profile {
    display: inline-block;
    width: 90%;
    margin: 10px;
    background-color: #e3e3e3;
    padding: 10px;
}

.profile img {
    width: 20%;
    height: auto;
    border-radius: 10%;
    float:left;
}

.profile p {
    font-size: 14px;
    color: #555;
    float: left;
    margin-left: 5%;
    width: 60%;
}

.profile h3 {
    margin-left: 5%;
    margin-bottom: 0%;
    float: left;
}


article { 
    margin-bottom: 20px; 
    padding: 10px 20px; 
    border: 1px solid rgb(145, 145, 145); 
    margin-right: 10px; 
    overflow: auto;
} 
  
aside { 
    flex: 1; 
    background-color: #c9c9c9; 
    padding: 10px; 
} 


img {
    height: 100px;
    width: auto;
    margin-left: 2%;
    float:left;
}